*{
 margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body,html
{
    font-family: 'Gilroy', sans-serif;
    /* box-sizing: border-box; */
    /* overflow-x: hidden; */
}

#main_div{
    max-width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_heading{
    font-size: 50px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
}
.main{
    width: 40%;
    height: 20%;
    color: blueviolet;
    font-family: 'sans-serif', Arial, Helvetica;
    background-color: yellow;
}
.in_main{
    width: 30%;
    background-color: blue;
}
.footer{
    background-color: orange;
min-height: 30%;
    width: 100%;
    padding-top: 3rem;
    margin-top: 3rem;
}
.button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}   
.nav{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: chartreuse;
}
.nav_list{
    list-style: none;
    display: flex;
    gap: 20px;
}
#next_page{
    height: 100vh;
    max-width: 100%;
    background-color: lightgreen;
}